$titlecolor:#09928b !important;
$secondarycolor: white;

body{
    background-color: #2a2a2e !important;
}

.text-primary{
    color: $titlecolor;
}

.avatar{
    position: relative;
    top: 9em;
}
.who{
    font-size: 25px;
    position: relative;
    top:4em;
    color:$titlecolor;
}
.descript{
    color: $secondarycolor;
    position: relative;
    top:9em;
}
.skills{
    font-size: 25px;
    color:$titlecolor;
    position: relative;
    top:15em;
}
.hard{
    color: $secondarycolor;
    position: relative;
    top: 27em;
}

.soft{
    color: $secondarycolor;
    position: relative;
    top: 27em;
}

.html{
    height: 30%;
    position: relative;
    top: 30em;
}
