$titlecolor:#09928b !important;
$secondarycolor: white !important;

@import "_skills.scss";
@import "_media-query.scss";

body{
    background-color: #2a2a2e !important;
}

.text-primary{
    color: $titlecolor;
}


.linkedin{
    height: 2.5em;
    width: 2.5em;
}
.github{
    height: 3em;
    width: 3em;
}

.avatar{
    position: relative;
    top: 9em;
}
.who{
    font-size: 25px;
    position: relative;
    top:4em;
    color:$titlecolor;
}
.descript{
    color: $secondarycolor;
    position: relative;
    top:9em;
}
.skills{
    margin-top: 20%;
}

.hardskills{
    align-items: center;
    justify-content: space-around;
    display: flex;
    float: none;
}
.formu{
    color: $secondarycolor;
}
.contact{
    margin-top: 10em;
}
.copy{
    color: $secondarycolor;
}
